$bordercolor: black;
$lightbordercolor: #ccc;

#grid {
  margin: 2em;
  border: 2px solid $bordercolor;

  td {
    padding: 0.5em;
    border: 1px solid $lightbordercolor;
    text-align: center;

    span.value {
      display: block;
      font-size: 1.75em;
      min-height: 1.75em;
    }

    span.possible {
      display: block;
      font-size: 0.375em;
    }

    &.selected {
      background: #cc0;
    }

    &:nth-child(3n) {
      border-right: 2px solid $bordercolor;
    }
  }

  tr:nth-child(3n) td {
    border-bottom: 2px solid $bordercolor;
  }
}
