---
title: Sudoku
---

<div id="gridapp">
  <table id="grid">
  </table>
</div>

<script type="text/template" id="cell-template">
  <%%= row %>, <%%= column %>, <%%= group %>
  <!-- -<span class="value"><%%= value %></span> -->
  <!-- <span class="possible"><%%= possible %></span> -->
</script>
