---
title: Sudoku
---

<div id="gridapp">
  <table id="grid">
  </table>
</div>

<script type="text/template" id="cell-template">
  <span class="value <%%= (valid ? 'valid' : 'invalid') %>"><%%= value %></span>
  <span class="possible"><%%= possible %></span>
</script>
